{% extends 'base.html' %}
{% load ghostnetservice_filter %}
{% block content %}
<div class="container my-3">
    <div class="col-4">
        <h4>Block Number {{pair.Id}} Information</h4>
    </div>
    <div class="col-8">
        <ul>Version: {{pair.Version}}</ul>
        <ul>MerkleRoot: {{pair.MerkleRoot|ToString}}</ul>
        <ul>Timestamp: {{pair.Timestamp}}</ul>
    </div>
    <br>
    <div class="col-4">
        <h5>Transactions</h5>
    </div>
    {% for tx in txList%}
    <div class="col-8">
        <ul><a href="/tx_detail/{{tx.Id}}">TxId : {{tx.TxId|ToString}}</a></ul>
    </div>
    {% endfor %}
</div>
{% endblock %}
