{% extends 'base.html' %}
{% load ghostnetservice_filter %}
{% block content %}
<div class="container my-3">
    <div class="col-4">
        <h4>Transaction Information</h4>
    </div>
    <div class="col-8">
        <li>TxId : {{tx.TxId|ToString}}</li>
        <li>BlockId: {{tx.BlockId}}</li>
        <li>Type: {{tx.Type}}</li>
    </div>
    <br>
    <div class="col-6">
        <h5>Input Information</h5>
    </div>
    {% if inputList %}
    {% for input in inputList%}
    <div class="col-8">
        Index: {{input.Index}}
        <li>previous TxId : <a href="/tx_detail/{{input.prev_TxId|LoadTxId}}">{{input.prev_TxId|ToString}}</a></li>
        <li>Output Index: {{input.prev_OutIndex}}</li>
    </div>
    {% endfor %}
    {% endif %}
    <br>
    <div class="col-6">
        <h5>Output Information</h5>
    </div>
    {% if outputList %}
    {% for output in outputList%}
    <div class="col-8">
        Index: {{output.Index}}
        <li>Destination : {{output.ToAddr|ToString}}</li>
        <!--<li>Master: {{output.BrokerAddr|ToString}}</li>-->
        <li>Value: {{output.Value}}</li>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
